<%- include("partials/header"); -%>
<div class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://i.pinimg.com/564x/5e/8f/89/5e8f895db7da45ffa520147e5f3f93ef.jpg";
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form>
              <h1 class="text-center" style="padding-bottom: 2.5rem;">Prisijungti</h1>
      
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="email" class="form-control form-control-lg"/>
              <label class="form-label" >Email adresas</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="password" class="form-control form-control-lg" />
              <label class="form-label">Slaptažodis</label>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Prisijungti</button>
              <p class="small fw-bold mt-2 pt-1 mb-0" style="padding-bottom: 2.5rem;">Neturite slaptažodžio? <a href="signup"
                  class="link-danger">Registruotis</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
</div>

<%- include("partials/footer"); -%>