<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="css/style.css">
          <div class="top-container">
            <div class="topnav">
                <a id="navbar-name" href="#home">Karinas</a>
                <a href="#Login">Login</a>
                <a href="#SignUp">Sign Up</a>
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
              </div> 
        </div>
        <hr>
    </head>

    <body>
        <div class="middle-container">
            <h1>feisd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>

        </div>
        <div class="bottom-container">
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            <h1>fesd</h1>
            
        </div>
        <h1>Home</h1>
        <p><%= HomePageInfo %></p>
    </body>

</html>